<?xml version="1.0"?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ho_import_run" xsi:type="object">Ho\Import\Console\Command\HoImportRunCommand</item>
                <item name="cron_schedule" xsi:type="object">Ho\Import\Console\Command\CronScheduleCommand</item>
            </argument>
        </arguments>
    </type>
    <type name="Ho\Import\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Ho\Import\Logger\Log">
        <arguments>
            <argument name="name" xsi:type="string">import_logging</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Ho\Import\Logger\Handler</item>
            </argument>
        </arguments>
    </type>

    <preference for="Ho\Import\Api\ImportProfilePoolInterface" type="Ho\Import\Model\ImportProfilePool" />

    <!-- Bug fixes in the ImportExport module -->
    <type name="Magento\ImportExport\Model\Import">
        <plugin name="printLogWhenCli" type="Ho\Import\Plugin\PrintImportLogWhenCliPlugin"/>
    </type>
    <preference for="Magento\CatalogImportExport\Model\Import\Product" type="Ho\Import\Rewrite\ImportExport\Import\Product" />
    <preference for="Magento\CatalogImportExport\Model\Import\Product\Option" type="Ho\Import\Rewrite\ImportExport\Import\ProductOption" />
    <preference for="Magento\Catalog\Model\Product\Attribute\OptionManagement" type="Ho\Import\Rewrite\CatalogProductAttributeOptionManagement"/>
</config>
