<?xml version="1.0"?>
<!--
  ~ Copyright © Reach Digital (https://www.reachdigital.io/)
  ~ See LICENSE.txt for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Ho\Import\Model\ImportProfilePool">
        <arguments>
            <argument name="profiles" xsi:type="array">
                <item name="product" xsi:type="object">ReachDigital\Waardijk\Import\ProductImport</item>
            </argument>
        </arguments>
    </type>
</config>
